[include]
	# Local Config includes private details, such as email, signingKey
	# and any machine-specific setup e.g. for 1Pass ssh key
	path = ~/.gitconfig.local
	path = ~/.local/share/delta/themes.gitconfig
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pager]
	branch = false
[pull]
	ff = true
[push]
	autoSetupRemote = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false
	features = gruvmax-fang
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
